.play-section {
  width: 100%;
  box-sizing: border-box;
  height: calc(100vh - 65px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../../assets/map-background-2.png");
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 0 24px;
}

.play-section__gradient {
  pointer-events: none;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    ellipse at center,
    rgba(221, 16, 16, 0) 60%,
    rgb(37, 138, 201, 0.3) 100%
  );
  position: absolute;
  top: 0;
  left: 0;
}

.play-section__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.play-section__heading {
  text-align: center;
  font-size: 12vw;
  margin: 0;
}

.play-section__play-button {
  width: 200px;
  height: 40px;
}

.play-section__description {
  color: rgb(29, 29, 29);
  font-size: 18px;
  max-width: 350px;
  text-align: center;
  margin: 8px 0;
  backdrop-filter: blur(3px);
  padding: 8px;
  border-radius: 24px;
}

@media screen and (max-width: 627px) {
  .play-section__heading {
    font-size: 50px;
  }
  .play-section__play-button {
    width: 120px;
  }
}
