.header {
  background-color: rgb(178, 211, 226);
  background-image: linear-gradient(
    to right,
    rgb(178, 211, 226),
    rgb(222, 239, 247)
  );
  display: flex;
  align-items: stretch;
  padding: 6px;
  border-bottom: solid 1px rgb(178, 211, 226);
}

.header__logo {
  margin-right: 32px;
}

.header__logo-image {
  height: 48px;
}

.header__account-buttons {
  margin: auto 0 auto auto;
  display: flex;
  gap: 8px;
}
