.navbar__list {
  display: flex;
  gap: 4px;
  list-style: none;
  margin: 0;
}

.navbar__button {
  border: solid 1px black;
  border-radius: 5px;
  padding: 4px 8px 1px;
  background-color: rgb(199, 199, 199);
}

.navbar__button:hover {
  background-color: white;
  cursor: pointer;
}
